<h1><%= @garage.name %></h1>
<p>City Location: <%= @garage.city %></p>
<p>Open To The Public: <%= @garage.open_to_public %></p>
<p>Max Capacity: <%= @garage.max_capacity %></p>
<p>Number of Cars: <%= @garage.cars_count %>

<%= link_to "My Cars", "/garages/#{@garage.id}/cars" %>
<%= link_to "Update Garage", "/garages/#{@garage.id}/edit" %>